*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.qustions h1{
    color: deeppink;
}

html{
    font-size: 20px;
    font-family: 'Syne Mono', monospace;;
    color: #ffff;
}
body{
    width: 100%;
    height: 100%;
    background-color: #101820FF;
    background-size: cover;
}
header h1{
    text-align: center;
    font-size: 30px;
    margin-top: 1rem;
}
img{
    float: left;
    width: 40%;
    height: 20%;
    border-radius: 5%;
    margin: 50px 30px 20px 5px;

}

.nnnn{
    color: #FEE715FF ;
}
.container{
    margin: 10px auto ;
    max-width: 960px;
}

.aboutMe{
    width: 40%;
    float: left;
    border: #FEE715FF solid 5px;
    padding: 20px;
    margin: 10px;
    border-top-right-radius: 30px;
}
.aboutMe h4{
    text-align: center;
    
}
.aboutMe h2{
    color: deeppink;
}

.qustions{
    border:#FEE715FF solid 5px;
    border-top-right-radius: 30px;
    float: left;
    margin: 10px;
    width: 50%;
    font-size: 30px;
    padding: 10px;
    transform: 1;
    transition: 2s;
}

.movies{
    width: 40%;
    border: #FEE715FF solid 5px; 
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 100px;
    float: left;
    margin-top: -205px;
    margin-left: 10px;

}

.movies ol{
    margin-left: 30px;
}
.movies ol li a{
    text-decoration: none;
    color: #f4f4f4 ;
}
.movies ol li  a:hover{
    color: #FEE715FF ;
}
.clr{
    clear: both;
}


